body{
  background:url(https://uwaterloo.ca/science/sites/ca.science/files/uploads/images/_dsc2037.jpg)}
.initial-bar{
  background-color:rgba(27,24,24, 0.4);
  box-shadow: 0px 2px 3px #2a2e2f;
  line-height: 40px !important ;  
}
.navbar{
  display: inline-block;
}
.navbar-nav > li > a{
  color: white;
  padding-top: 18px;
  transition-duration: 0.1s;
  transition-timing-function: linear;

}
.initial-bar .navbar-nav > li > a:hover{
    background-color: rgba(0,0,0,0);
    border-top-style: solid;
    border-top-color: white;
    padding-top: 15px;
}
.initial-bar .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,0);
    border-top-style: solid;
    border-top-color: indianred;
    padding-top: 15px;
    color:indianred;
}